.body{
    box-sizing: border-box;
    
}

.header1{
    display: block;
    text-align: left;
    padding-top:2px;
    font-size:20px;
    text-transform: uppercase;

}

.first-section{
    background-image: url(./images/background.jpg);
    height: 95vh;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: white;
    margin-top:30px;
}

.f-sec1{
    display: block;
    text-align: left;
    padding-top:500px;
    text-transform: capitalize;
    font-size:50px;
    letter-spacing: 5px;
}

.f-sec2{
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    letter-spacing: 2px;
    text-transform: lowercase;
}

.s-sec1{
    padding-top:50px;
    display: block;
    letter-spacing: 2px;
    font-size:35px;
    margin-left: 50px;
    font-style: oblique;
}

.flex-container{
    display: flex;
    background-color:white;
    gap:5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    align-content:flex-start;
    background-color: white;
    

}

.box{
    height:250px;
    width:30%;
    padding:10px;
    margin: 10px;
    background-color: white;
    text-align: left;
    font-size:18px;
}

.flex-container_2{
    display: flex;
    flex-direction: row;
    gap:180px;
     background-color:white;
}

.box_2{
  height:200px;
  width: 20%;
  background-color:white;
  padding: 40px;
  margin: 10px;
}

.box_2b{
     height:250px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: larger;
      margin-bottom: 100px;
       padding: 50px;
      background-color:white;
}

img{
    border-radius:35px;
}
.background-image{
    margin-left: 50px;
}

.third-section{
    background-color:#f0f5f9;
    margin-top: 100px;
    padding-top: 50px;
}

.concrete-header{
    font-size: 40px;
}

.flex-container_3{
    display: flex;
    flex-direction: row;
    background-color:#f0f5f9;
    gap:5px;
    margin-bottom: 100px;
}

.box_3{
    background-color: white;
    height: 550px;
    width:120%;
     border: 10px;
    border-color: blue;
    border-radius: 50px;
    padding:20px;
    margin:10px;
}

.btn_3{
    margin-top: 40px;
    width: 40%;
    padding:15px;
    border-color:#00b4ed ;
    background-color:white;
    color:#00b4ed ;
    border-radius: 35px;
}


.Bulk-concrete-header{
    font-size: 50px;
}

.flex-container_4{
    display: flex;
    flex-direction: row;
    background-color:#f0f5f9;
    gap:5px;
    margin-bottom: 150px;
}

.box_4{
    background-color: white;
    height: 550px;
    width:120%;
     border: 10px;
    border-color: blue;
    border-radius: 50px;
    padding:20px;
    margin:10px;
}

.btn_4{
    margin-top: 40px;
    width: 40%;
    padding:15px;
    border-color:#00b4ed ;
    background-color:white;
    color:#00b4ed ;
    border-radius: 35px;
}

.work-header{
    font-size: 40px;
}

.flex-container_5{
    display: flex;
    flex-direction: row;
    background-color: #f0f5f9;
    gap:5px;
    margin-bottom: 150px;
}

.box_5{
    background-color: white;
    height: 550px;
    width:110%;
     border: 10px;
    border-color: blue;
    border-radius: 50px;
    padding:10px;
    margin:10px;
}

.btn_5{
    margin-top: 40px;
    width: 40%;
    padding:15px;
    border-color:#00b4ed ;
    background-color:white;
    color:#00b4ed ;
    border-radius: 35px;
}

.flex-container_6{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:25px;
    margin-bottom: 120px;
}


.box_6{
    height:550px;
    margin:20px;
    padding: 30px;
    width:42%;
    border: 10px;
    border-radius:20px;
    background-color: white;
    text-align:left;
    font-size:18px

}

.btn_6{
    margin-top: 50px;
    width: 25%;
    padding:15px;
    border-color:#00b4ed ;
    background-color:white;
    color:#00b4ed ;
    border-radius: 35px;
}

.our-header{
    text-align: center;
    font-size: 50px;
}

.flex-container_7{
    display: flex;
    flex-direction: row;
    gap:130px;
    margin-bottom:200px;
}

.box_7{
    background-color: aliceblue;
}

.last-section{
    border: 5px;
    border-style: hidden;
    border-color: #c9d4e4;
    border-radius: 50px;
    gap: -30px;
    
    
}
.flex-container_8{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-bottom: 50px;

}

.box_8{
    background-color:#c9d4e4;
    height: 500px;
    width: 50%;
    padding: 20px;
    border: 10px hidden;
    border-color: #c9d4e4;

}

.header8a{
    font-size: 40px;
    color:rgb(88, 86, 86) ;

}

.header8b{
    font-size: 20px;
    color:rgb(88, 86, 86) ;
}

form {
margin-top: -50px;
  padding: 30px;
}

.box8_header1{
    font-size:35px;
    color: rgb(88, 86, 86);
    text-transform: lowercase;
}

.box8_header2{
    font-size:20px;
    color: rgb(88, 86, 86);
    text-transform: lowercase;
}

.name{
     width:100%;
    padding:10px;
    border: 2px ;
    border-style: hidden;
    border-radius:30px;
    margin: 10px;
    height: 30px;
}

.mail{
     width:100%;
    padding:10px;
    border: 2px hidden;
    border-radius: 30px;
    margin: 10px;
    height: 30px;
}

.num{
     width:100%;
    padding:10px;
    border: 2px hidden;
    border-radius: 30px;
    margin: 10px;
    height: 30px;
}

.mssg{
    width:100%;
    padding:10px;
    border: 2px hidden;
    border-radius: 12px;
    margin: 10px;
    height: 50px;
}

.btn{
    width: 20%;
    padding:15px;
    border-color:#00b4ed ;
    background-color:#00b4ed;
    color: black;
    border-radius: 35px;
}

.flex-container_9{
    display: flex;
    flex-direction: row;
    gap: 1px;
    background-color: aqua;
    justify-content: space-around;
    align-items: ;

}

.box_9{
    height: 15px;
    width: 90%;
    background-color: #f0f5f9;
    padding: 50px;
    text-align: center;
    font-size: 15px;
}